#forgetPassword{
    background-image: url('../forgot.jpeg');
    background-attachment: fixed;
}
#inner{
    background-color: rgba(224, 220, 210, 0.849);
    width: 9cm;
}
#link{
    color: rgb(9, 71, 129);
}
#getCode{
    background-color: rgba(87, 84, 84, 0.952);
    border: none;
}
#input{
    border: 1px solid rgb(77, 76, 76);
}